:root {
  --primary-white-color: #e8e8e2;
  --primary-green-color: #6d8434;
  --secondary-white-color: #fafafa;
  --primary-black-color: #010101;
  --hover-button-green-color: #586f1f;
  --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
