<section class="basket">
  <h2 class="basket__quantity">
    <span class="basket__icon-wrap">
      <svg class="basket__icon">
        <use href="./img/icons.svg#shopping-cart-icon"></use>
      </svg> </span
    >CART(0)
  </h2>
  <div class="basket__empty-block">
    <picture>
      <source media="(min-width: 768px)" srcset="./img/empty-basket@2x.png" />

      <img
        class="basket__basket-image"
        src="./img/empty-basket@1x.png"
        alt="Кошик"
      />
    </picture>
    <h3 class="basket__empty-title">
      Your basket is <span class="basket__accent">empty...</span>
    </h3>
    <p class="basket__empty-descroption">
      Go to the main page to select your favorite products and add them to the
      cart.
    </p>
  </div>
</section>
