.basket {
  min-height: 547px;
}

.basket__quantity {
  margin-top: 77px;
  margin-bottom: 105px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.basket__empty-block {
  max-width: 279px;
  margin: 0 auto;
  text-align: center;
}

.basket__basket-image {
  width: 132px;
  margin: 0 auto 28px auto;
}

.basket__empty-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}

.basket__accent {
  color: var(--primary-green-color);
}

.basket__empty-descroption {
  font-size: 14px;
  font-weight: 400;
}

.basket__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--primary-green-color);
}

.basket__icon {
  width: 18px;
  height: 18px;
  fill: var(--primary-white-color);
}
