.discount__list {
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
}
.discount__list .card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: auto;
}
.discount__list .card__img-wrap {
  width: 100%;
}
.discount__list .card__img {
  width: 114px;
}
.discount__list .card__description {
  display: flex;
  justify-content: space-between;
}
