.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  color: var(--primary-white-color);
  background-color: var(--primary-green-color);
}

.footer__logo {
  display: flex;
  align-items: center;
  max-width: 154px;
  gap: 8px;
  margin-bottom: 12px;
}

.footer__logo-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.footer__logo-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-green-color);
}

.footer__logo-title {
  font-family: 'Quincy';
  font-size: 18px;
  font-weight: 900;
}

.footer__sosial-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.footer__sosial-item {
  border-radius: 10px;
  border: 1px solid var(--primary-white-color);
}

.footer__sosial-item:hover {
  background-color: #e8e8e233;
}

.footer__sosial-link {
  display: flex;
  padding: 8px;
}

.footer__sosial-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}

.footer__second-block {
  margin-bottom: 80px;
}

.footer__slogan {
  margin-bottom: 80px;
}

.footer__slogan-totle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.footer__slogan-description {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

.footer__form-description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer__form-inpute {
  padding: 12px 18px;
  border: 1px solid var(--primary-white-color);
  border-radius: 30px;
  color: var(--primary-white-color);
  background-color: transparent;
  outline: none;
}

.footer__form-inpute::placeholder {
  color: var(--primary-white-color);
}

.footer__form-button {
  padding: 12px 0;
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
  background-color: var(--primary-white-color);
}

.footer__form-button:hover {
  color: var(--primary-green-color);
}

.policy {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-between;
  }
  .footer__first-block {
    width: 220px;
  }
  .footer__second-block {
    max-width: 429px;
  }
  .footer__logo-title {
    font-size: 24px;
  }
  .footer__logo {
    max-width: 200px;
  }
  .footer__form-block {
    width: 336px;
  }
  .policy {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .footer__second-block {
    display: flex;
    gap: 148px;
    max-width: 100%;
  }
  .footer__slogan {
    width: 410px;
    margin: 0;
  }
}
