.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
.header__logo,
.header__nav,
.header__cart-page {
  display: flex;
}

.header__logo {
  align-items: center;
  gap: 8px;
}

.header__nav {
  gap: 16px;
}

.header__logo-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
  background-color: var(--primary-green-color);
}

.header__logo-icon {
  width: 16px;
  height: 16px;
  fill: var(--secondary-white-color);
}

.header__logo-title {
  font-family: 'Quincy';
  font-weight: 900;
  font-size: 18px;
}

.header__cart-icon {
  width: 14px;
  height: 14px;
  fill: var(--secondary-white-color);
}

.header__home-page {
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--primary-white-color);
  background-color: var(--primary-green-color);
}

.header__cart-page {
  align-items: center;
  gap: 6px;
}

.header__cart-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--primary-green-color);
}

@media screen and (max-width: 768px) {
  .header__cart-title {
    display: none;
  }
}
