body.show-modal-subscribe,
body.show-modal-order {
  overflow-y: hidden;
}

body.show-modal-subscribe .backdrop-subscribe,
body.show-modal-order .backdrop-order {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal-subscribe .modal-subscribe,
body.show-modal-order .modal-order {
  transform: scale(1);
}
.backdrop-subscribe,
.backdrop-order {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

/* -------------------Mодалка для підписки--------------------- */

.modal-subscribe {
  padding: 0;
  width: 335px;
  min-height: 276px;
  max-height: 400px;
  height: 100%;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__subscribe {
  position: absolute;
  font-family: 'Neue Montreal';
  font-weight: 500;
  width: 100%;
  min-height: 276px;
  border-radius: 20px;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
}

.modal-btn {
  position: absolute;
  z-index: 100;
  top: 18px;
  right: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: inherit;
}

.modal-btn-icon {
  fill: var(--primary-black-color);
  width: 14px;
  height: 14px;
}

.modal__title--wrap {
  text-align: center;
  margin: 100px auto 0;

  width: 245px;
}
.modal__title {
  font-size: 20px;
  font-weight: 500;
}
.modal__accent-text {
  color: var(--primary-green-color);
}
.modal__description--wrap {
  margin: 14px auto 0;

  width: 248px;
}
.modal__description {
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 18px;
}

/* .modal__food-basket {
  margin-top: 22px;
}

.modal__food-tomatto {
  z-index: 100;
  margin: 40px auto 20px auto;
}

.moal__food-tomatto--shadow {
  position: absolute;
  top: 190px;
  left: calc(50% - 130px / 2);
  width: 135px;
  height: 0px;
  fill: rgb(1, 1, 1);
  box-shadow: 0 0 44px 9px rgb(1, 1, 1);
  z-index: 99;
}
.modal__title--wrap-success {
  margin: 0 auto 20px auto;
}
.modal__title--success {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.modal__description--success {
  padding-bottom: 60px;
} */

@media screen and (min-width: 768px) {
  .modal__title--wrap {
    margin-top: 90px;
  }
  .modal__description--wrap {
    width: 328px;
    margin-top: 20px;
  }
  .modal__description {
    padding: 0 20px;
  }
  .modal__title--success {
    font-size: 32px;
  }
  .modal__description--wrap-success {
    padding: 0;
    width: 100%;
  }
  .modal__description--success {
    padding: 0 40px 80px 40px;
    width: 100%;
  }
  .modal-subscribe {
    width: 490px;
    height: 400px;
  }
  .modal__food-basket {
    margin-top: 0;
    margin-left: auto;
    height: 159px;
    width: auto;
  }
  .modal__subscribe {
    min-height: 308px;
  }
}

/* -------------------Mодалка для картки--------------------- */

.modal-order {
  padding: 0;
  width: 335px;
  height: 535px;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal__order {
  position: absolute;
  padding: 40px 20px;
  font-family: 'Neue Montreal';
  font-weight: 500;
  width: 100%;
  max-height: 535px;
  border-radius: 20px;
  color: var(--primary-black-color);
  background-color: var(--secondary-white-color);
}

.order__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.order__image-wrap {
  width: 295px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white-color);
  border-radius: 10px;
}

.order__image {
  max-width: 160px;
}

.order__info,
.order__params {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order__params-top {
  display: flex;
  gap: 8px;
}

.order__description {
  font-size: 14px;
  font-weight: 400;
  max-height: 65px;
  overflow-y: auto;
}

.order__info-text {
  font-size: 12px;
  font-weight: 400;
  color: #0101014b;
}

.order__accent {
  color: var(--primary-black-color);
}

.order__bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 9px;
}

.order__price,
.order__info-title {
  font-size: 18px;
  font-weight: 500;
}

.order__aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order__btn {
  width: 42px;
  height: 42px;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-green-color);
  border-radius: 50%;
}

.order__btn--add {
  width: 116px;
  color: var(--primary-white-color);
  border-radius: 30px;
}

.order__btn:hover {
  background-color: var(--hover-button-green-color);
}

.order__icon {
  fill: var(--primary-white-color);
  width: 14px;
  height: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .modal-order {
    width: 600px;
    height: 380px;
  }
  .modal__order {
    height: 380px;
    padding: 40px;
  }

  .order__main {
    flex-direction: row;
    gap: 24px;
  }

  .order__image-wrap {
    width: 240px;
    height: 212px;
  }

  .order__aside {
    width: 246px;
  }

  .order__price {
    font-size: 20px;
  }

  .order__description {
    max-height: 115px;
  }
}
