/*? -------------------------- Products Section -------------------------- */
.products {
  margin-top: 40px;
}

/*? --------------------------Media-------------------------- */

/* Desktop */
@media screen and (min-width: 1440px) {
  .products {
    margin-top: 60px;
  }

  .products-section-container {
    display: flex;
    gap: 40px;
  }
}
