<header class="header container">
  <a class="header__logo" href="./index.html">
    <span class="header__logo-icon-wrap">
      <svg class="header__logo-icon">
        <use href="./img/icons.svg#logo-icon"></use>
      </svg>
    </span>
    <p class="header__logo-title">Food Boutique</p>
  </a>
  <div class="header__nav">
    <a href="./index.html" class="header__home-page">Home</a>
    <a href="./cart.html" class="header__cart-page">
      <span class="header__cart-icon-wrap">
        <svg class="header__cart-icon">
          <use href="./img/icons.svg#shopping-cart-icon"></use>
        </svg>
      </span>
      <p class="header__cart-title">CART(0)</p>
    </a>
  </div>
</header>
