<div class="backdrop-subscribe js-backdrop-subscribe">
  <div class="modal-subscribe">
    <button class="modal-btn js-close-subscribe">
      <svg class="modal-btn-icon">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>
    <div class="modal__subscribe"></div>
  </div>
</div>
<div class="backdrop-order js-backdrop-order">
  <div class="modal-order">
    <button class="modal-btn js-close-order">
      <svg class="modal-btn-icon">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>
    <div class="modal__order"></div>
  </div>
</div>
