<form class="filter__form" name="filter" autocomplete="off">
  <label class="filter__lable" for="filter-inpute"> Filters: </label>
  <div class="filter__input-wrap">
    <input
      type="text"
      id="filter-inpute"
      class="filter__input"
      name="filter-inpute"
      placeholder="Search for anything"
    />
    <button class="filter__search-button" type="submit">
      <svg class="filter__search-icon">
        <use href="./img/icons.svg#search-icon"></use>
      </svg>
    </button>
  </div>

  <select class="filter__category" name="category" id="category"></select>
</form>
